.row
  .col-sm-2
  .col-sm-8
    %h1= "Pitch ID: #{@pitch.id}"
    .row.text-center
      .col-sm-3
        %th
          %h3 Pitched To
      .col-sm-6
        %th
          %h3 Notes
      .col-sm-3
        %th
          %h3 Listened To
    .row
      .col-sm-3= @pitch.pitch_to
      .col-sm-6= @pitch.pitch_notes
      .col-sm-3.text-center= @pitch.listened_to ? "Yes" : "No"
    %br
    .row.bg-email.add-some-padding
      .col-sm-12
        .row
          .col-sm-2.text-right Email:
          .col-sm-10= " #{@pitch.email}"
        .row.add-top-margin
          .col-sm-2.text-right Subject:
          .col-sm-10= " #{@pitch.subject}"
        .row.add-top-margin
          .col-sm-2.text-right Message:
          .col-sm-10= " #{@pitch.message}"
  .col-sm-2
.row.add-top-margin
  .col-sm-6
  .col-sm-2
    =button_to "Back", pitches_path, method: "get", class: "btn btn-primary btn-block"
  .col-sm-2
    =button_to "Delete", pitch_path(@pitch), method: :delete, class: "btn btn-danger btn-block"
  .col-sm-2