.row
  .col-sm-2
  .col-sm-8
    %h1= "Pitch ID: #{@pitch.id}"
    .row
      .col-sm-4
        %th Pitched To
      .col-sm-4
        %th Notes
      .col-sm-4
        %th Listened To
    .row
      .col-sm-4= @pitch.pitch_to
      .col-sm-4= @pitch.pitch_notes
      .col-sm-4= @pitch.listened_to
    .row.bg-email
      .col-sm-12
        .row
          .col-sm-2 Email:
          .col-sm-10= " #{@pitch.email}"
        .row
          .col-sm-2 Subject:
          .col-sm-10= " #{@pitch.subject}"
        .row
          .col-sm-2 Message:
          .col-sm-10= " #{@pitch.message}"
  .col-sm-2
.row
  .col-sm-2
  .col.sm-8
    =button_to "Back", pitches_path, method: "get"
    =button_to "Delete", pitch_path(@pitch), method: "delete"
  .col-sm-2