.row
  .col-sm-2
  .col-sm-8
    %h1 Song Index
    = button_to("Add Song", new_song_path, method: :get, class: "btn btn-primary")

    .row
      .col-sm-12.table-responsive
        %table.table.table-striped
          - if @songs.length == 0
            There are no songs in the database
          - else
            Song List
            %thead
              %th Title
              %th Artist
              %th Genre
              %th Play
            %tbody
              - @songs.each do |song|
                %tr
                  %td= link_to "#{song.title}", song_path(song)
                  %td= song.artist
                  %td= song.genre
                  %td
                    %audio{controls: "true"}
                      %source{ src: "#{song.audiofile}" }
  .col-sm-2