.form-box
  .box-header
    .box-title
      %h4
        New Song
  .box-body
    = simple_form_for @song do |f|
      .body.bg-bluegray
        .form-group
          = f.input :title, label: false, input_html: { class: 'form-control', placeholder: "Title", autofocus: "true" }
        .row
          .col-sm-6
            .form-group
              = f.input :artist, label: false, input_html:  { class: 'form-control', placeholder: "Artist" }
          .col-sm-6
            .form-group
              = f.input :genre, label: false, input_html:  { class: 'form-control', placeholder: "Genre" }
        .form-group
          = f.input :description, label: false, input_html:  { class: 'form-control', placeholder: "Description" }
        .form-group
          = f.input :audiofile, input_html:  { class: 'form-control' }
        .footer.bg-bluegray
          = f.button :submit, "Create", class: "btn btn-block btn-primary"
    .margin.text-center