%h1 Songs Show Page
%p= @song.title
%p= @song.artist
%p= @song.genre
%p= @song.description
%p= @song.audiofile

= button_to("Edit Song", edit_song_path(@song), method: :get)
= button_to("Delete Song", @song, method: :destroy)